<h1>{{title}}</h1>
<div [style.color]='wardsColor'>
    Hello {{name}}
</div>
<!-- keyup, keyup.enter, blur -->
<input type="text" [value]="name" (blur)="name = $event.target.value">
<input type="text" [(ngModel)]="name" />
<button (click)='changeColor()'>Change color</button>
<customers-selector></customers-selector>

<h3>ngRx</h3>
  <div class="mdl-cell mdl-cell--6-col">
    <items-list [items]="items | async"
      (selected)="selectItem($event)" (deleted)="deleteItem($event)">
    </items-list>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <item-detail
      (saved)="saveItem($event)" (cancelled)="resetItem($event)"
      [item]="selectedItem | async"></item-detail>
  </div>